.container {
  padding: 20px;
  font-family: Arial;
}

input {
  padding: 8px;
  margin: 5px;
}

button {
  padding: 8px 12px;
  background: blue;
  color: white;
  border: none;
}

table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

table,
th,
td {
  border: 1px solid black;
}

th,
td {
  padding: 10px;
  text-align: center;
}